.text-wrapper {
font-family: "Segoe UI-Semibold", "Helvetica";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  align-items: flex-start;
  padding-bottom: 10px;
}

.call-to-action{
  transition: 0.3s ease-in-out !important;
  animation: flicker 0.5s ease-in-out infinite alternate !important;
}
.hero-content{
  backdrop-filter: blur(15px);
  border-radius: 0.3125rem;
}
.images{
  background-position: center;
}

@media (max-width: 768px) {
  .hero-content{
  display: flex;
  flex-direction: column;
}}







