.text-wrapper {

  font-family: "Segoe UI-Semibold", "Helvetica";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  align-items: flex-start;
  padding-bottom: 10px;
}

.hero-content{
  backdrop-filter: blur(15px);
  border-radius: 0.3125rem;
}
.images{
  background-position: center;
}

@media (max-width: 768px) {
  .hero-content{
  display: flex;
  flex-direction: column;
}}


