.navLogo {
  font-size: 32px;
  font-weight: 700;
  word-wrap: break-word;
}

.home,
.cities {
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.home:hover,
.cities:hover {
  backdrop-filter:  invert(80%);
}

