.navLogo {
  color: #1c1c1c;
  font-size: 32px;
  font-family: "Segoe UI";
  font-weight: 700;
  word-wrap: break-word;
}

.home,
.cities {
  color: #1c1c1c;
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 700;
  word-wrap: break-word;
}
