.singForm__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

/*LEFT*/
.signUp__logo {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social-sing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*RIGHT*/
.right-side {
  background-color: #fff;
  border-radius: 0.3125rem;
}

.right-side-top {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 0rem 4rem;
}

.step-text {
  align-self: start;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right-side-text {
  color: #1c1c1c;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.right-side-text h6 {
  font-weight: 600;
}

.right-side-text p {
  font-weight: 400;
}

.sign-in {
  color: #1473e6;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.singup-socials {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.right-side-bottom {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 0rem 4rem;
  gap: 1.875rem;
}

.submit-button-input {
  padding: 0.625rem 1.25rem;
  gap: 0.625rem;
  border-radius: 0.3125rem;
}

.create-account {
  color: #1c1c1c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.country-dropdown,
.region-dropdown {
  color: #1473E6;
  width: 100%;
  padding: 0;
}

.right-side-form-step2{
  display: inline-flex;
gap: 1rem;
}

.checkText{
  color: gray;
font-family: Segoe UI;
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.termsAgreement{
  padding-top: 1rem;
  color: gray ;
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media (max-width: 768px) {
  .right-side-top,
  .right-side-bottom {
    padding: 1rem 2rem 0 2rem;
  }
}
